In [1]:
import pyodbc
import pandas as pd

In [ ]:
conn=pyodbc.connect(Driver='{SQL Server}',
                   host= 'LAPTOP-30TVAI73',
                   database='LMS',
                   Trusted_connection='yes')
#df=pd.read_sql_query('select * from  CHAPTER',conn)

In [ ]:
#server='LAPTOP-30TVAI73'
#db1='LMS'
#tcon='yes'

In [ ]:
#conn = pyodbc.connect(driver='{SQL Server}', host=server, database=db1,
                      #trusted_connection=tcon)

In [ ]:
df=pd.read_sql_query('select * from  CHAPTER',conn)

In [11]:
df

    CHAPTER_ID CHAPTER_NAME  SUB_ID
0            1    Chapter 1       1
1            2    Chapter 2       2
2            3    Chapter 3       5
3            4    Chapter 4       5
4            5    Chapter 5       6
5            6    Chapter 6       1
6            7    Chapter 7       8
7            8    Chapter 8       7
8            9    Chapter 9       6
9           10   Chapter 10       7
10          11   Chapter 11       2
11          12   Chapter 12       2
12          13   Chapter 13       3
13          14   Chapter 14       4
14          15   Chapter 15       5
15          16   Chapter 16       6
16          17   Chapter 17       6
17          18   Chapter 18       6
18          19   Chapter 19       7
19          20   Chapter 20       8
20          21   Chapter 21       9
21          22   Chapter 22       9
22          23   Chapter 23      12
23          24   Chapter 24      11
24          25   Chapter 25       5